//
//  Config.xcconfig
//  SeatCraftAppPickerExample
//
//  Created by king on 2025/8/12.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FRAMEWORK_SEARCH_PATHS = $(SRCROOT)/../gen_xcode/Products/$CONFIGURATION
//OTHER_LDFLAGS = -framework SeatCraftAppPicker
