BasedOnStyle: LLVM
PointerAlignment: Right
AlignConsecutiveAssignments: false
IndentWidth: 4
UseTab:	Never
TabWidth: 4
MaxEmptyLinesToKeep: 1
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignAfterOpenBracket: true
IndentCaseLabels: true
ObjCBlockIndentWidth: 4
ObjCBreakBeforeNestedBlockParam: false
ObjCSpaceAfterProperty: true
ColumnLimit: 0
AlignTrailingComments: true
SpaceAfterCStyleCast: false
AlignOperands: false
SpacesInSquareBrackets: false
AlignConsecutiveDeclarations: false
SpacesInContainerLiterals: false
BreakConstructorInitializersBeforeComma: true
AllowAllParametersOfDeclarationOnNextLine: true
ContinuationIndentWidth: 4
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 2
DisableFormat: false
